{% extends "template-jinja.html" %}

{% block title %}metathesi - Άδειες{% endblock %}

{% block link_opensource %}active{% endblock %}

{% block container %}
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Άδεια Template &amp; Δεδομένων<small></small></h1>
        <div class="row">
          <div class="col-lg-12 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text">
                        <ul>
                            <li>To template είναι το <a href="https://startbootstrap.com/template-overviews/2-col-portfolio/" target="_blank">2 Col Portfolio - Start Bootstrap Template</a>.</li>
                            <li>Τα δεδομένα των Περιφερειακών Ενοτήτων, Δήμων, Κοινοτήτων κλπ με το βάση το πρόγραμμα "Καλλικράτης", είναι από την εξαιρετική σημαντική πρωτοβουλία
                                  Ανοιχτά Δεδομένα και μπορείτε να τα βρείτε <a href="http://www.geodata.gov.gr" target="_blank">εδώ</a>.</li>
                        </ul>
                      </p>
                  </div>
              </div>
          </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
{% endblock %}

