{% extends "template-jinja.html" %}

{% block title %}
    metathesi - Διάφορα
{% endblock %}
{% block link_diafora %}active{% endblock %}
{% block container %}
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Εκπαιδευτικά<small></small></h1>
        <div class="row">
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text"><a href="/eidikothtes_protobathmias">Ειδικότητες Εκπαιδευτικών Πρωτοβάθμιας Εκπαίδευσης</a></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text"><a href="/eidikothtes_deuterobathmias">Ειδικότητες Εκπαιδευτικών Δευτεροβάθμιας Εκπαίδευσης</a></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-block">
                        <p class="card-text"><a href="/perifereiakes">Περιφερειακές Διευθύνσεις Εκπαίδευσης</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <h1 class="my-4">Τεχνικά<small></small></h1>
        <div class="row">
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text"><a href="/sxetika">Σχετικά με το metathesi</a></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text"><a href="/disclaimer">Disclaimer</a></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text"><a href="/adeies">Άδεια Template &amp; Δεδομένων</a></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text"><a href="http://github.com/ale3andro/metathesi/" target="_blank">Η σελίδα του project κώδικα στο github</a>.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text"><a href="http://github.com/ale3andro/metathesidb" target="_blank">Η σελίδα του project της βάσης δεδομένων στο github</a>.</p>
                  </div>
              </div>
          </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}

