{% extends "template-jinja.html" %}

{% block title %}metathesi - {{ page_title }}{% endblock %}

{% block link_diafora %}active{% endblock %}

{% block container %}
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">{{ page_title }}<small></small></h1>
        <div class="row">
            <ul class="list-group">
            {% for item in page_data.items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.code }} - {{ item.description }}
                  </li>
            {% endfor %}
            </ul>
        </div>
        <!-- /.row -->
        

        <!-- Pagination -->
        <!-- http://derrickgilland.com/posts/demystifying-flask-sqlalchemy/ -->
        Σελίδα {{ page_data.page }} από
        {% if (page_data.total < page_data.per_page) %}
          1
        {% elif (page_data.total % page_data.per_page)==0 %}
          {{ (page_data.total / page_data.per_page)|int}}
        {% else %}
          {{ (page_data.total / page_data.per_page)|round|int}}
        {% endif %}
        <ul class="pagination justify-content-center">
            {% if page_data.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('show_eidikothtes_deuterobathmias', page=page_data.prev_num) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Προηγούμενη</span>
                    <span class="sr-only">Προηγούμενη</span>
                </a>
            </li>
            {% endif %}
            {% if page_data.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('show_eidikothtes_deuterobathmias', page=page_data.next_num) }}" aria-label="Next">
                    <span aria-hidden="true">Επόμενη &raquo;</span>
                    <span class="sr-only">Επόμενη</span>
                </a>
            </li>
            {% endif %}
        </ul>


    </div>
    <!-- /.container -->
{% endblock %}
