<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>metathesi.gr - Καλώς ορίσατε</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='template_files/2-col-portfolio.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='template_files/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">metathesi.gr</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Αρχική <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/protobathmia">Πρωτοβάθμια</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/deuterobathmia">Δευτεροβάθμια</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diafora">Διάφορα</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/anoixtos_kodikas">Ανοιχτός κώδικας</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://metathesi.gr/blog" target="_blank">Ιστολόγιο</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">metathesi.gr <small>αυστηρά για εκπαιδευτικούς</small></h1>
        <div class="row">
          <div class="col-lg-12 portfolio-item jumbotron">
            <h1>Καλώς ορίσατε!</h1>
            <p><h5>Καλώς ορίσατε στο metathesi.gr, ένα site αφιερωμένο στο μεγαλύτερο - μετά τον διορισμό - βάσανο των εκπαιδευτικών: τις μεταθέσεις...</h5>
            </p>
            <p>
              <a class="btn btn-primary btn-lg" href="/sxetika" role="button">Σχετικά με το metathesi.gr</a>
              <a class="btn btn-primary btn-lg" href="/disclaimer" role="button">Disclaimer</a>
            </p>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title">Πρωτοβάθμια Εκπαίδευση</h4>
                        <p class="card-text">
                            {% if a_eidikothtes %}
                                <form action="/search_results" method="post">
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Ειδικότητα</span> {{ a_eidikothtes|safe }}<br />
                              </div><br />
                            {% endif %}
                            {% if a_years %}
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Έτος</span> {{ a_years|safe }}<br />
                              </div><br />
                            {% endif %}
                            {% if a_areas %}
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Περιοχές Μετάθεσης</span> {{ a_areas|safe }}<br />
                              </div><br />
                                <button type="submit" class="btn btn-primary btn-lg">Αναζήτηση</button>
                                </form>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title">Δευτεροβάθμια Εκπαίδευση</h4>
                        <p class="card-text">
                            {% if b_eidikothtes %}
                                <form action="/search_results" method="post">
                                  <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1">Ειδικότητα</span> {{ b_eidikothtes|safe }}<br />
                                </div><br />
                                {% endif %}
                            {% if b_years %}
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Έτος</span> {{ b_years|safe }}<br />
                            </div><br />
                            {% endif %}
                            {% if b_areas %}
                              <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">Περιοχές Μετάθεσης</span> {{ b_areas|safe }}<br />
                              </div><br />
                                <button type="submit" class="btn btn-primary btn-lg">Αναζήτηση</button>
                                </form>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <h4 class="card-title">Σύνθετες αναζητήσεις</h4>
                      <p class="card-text">
                        <ul class="list-group">
                          <li class="list-group-item">Παλιές περιοχές μετάθεσης (μέχρι και το 2012)</li>
                          <li class="list-group-item">Είμαι <code>ειδικότητα</code> και έχω <code>αριθμός</code> μόρια. Τι να δηλώσω για να πάρω μετάθεση;</li>
                          <li class="list-group-item">Αναζήτηση σε ευρύτερη περιοχή (Περιφερειακή Διεύθυνση)</li>
                        </ul>
                      </p>
                  </div>
              </div>
          </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">No rights reserved - ale3andro.gr</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='template_files/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='template_files/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='template_files/bootstrap.min.js') }}"></script>

</body>

</html>
