<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>metathesi.gr - Καλώς ορίσατε</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='template_files/2-col-portfolio.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='template_files/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#">metathesi.gr</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Αρχική</a>
                    </li>
                    <li class="nav-item {% if ba8mida=='a' %}active{% endif %}">
                        <a class="nav-link" href="protobathmia">Πρωτοβάθμια</a>
                    </li>
                    <li class="nav-item {% if ba8mida=='b' %}active{% endif %}">
                        <a class="nav-link" href="deuterobathmia">Δευτεροβάθμια</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dieuthinseis">Διευθύνσεις</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="diafora">Διάφορα</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="anoixtos_kodikas">Ανοιχτός κώδικας</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://metathesi.gr/blog" target="_blank">Ιστολόγιο</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4"><small>
          {% if ba8mida=='a' %}
              Περιοχές μετάθεσης Πρωτοβάθμιας Εκπαίδευσης
          {% else %}
              Περιοχές μετάθεσης Δευτεροβάθμιας Εκπαίδευσης
          {% endif %}
        </small></h1>

        <div class="row">
          {% if areas %}
              {% for area in areas %}
              <div class="col-lg-4 portfolio-item">
                  <div class="card h-100">
                      {# <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a> #}
                      <div class="card-block">
                          <h4 class="card-title">{{ area[1] }}</h4>
                          <p class="card-text">
                              {{ area[1] }}
                          </p>
                      </div>
                  </div>
              </div>
              {% endfor %}
          {% endif %}
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyleft metathesi.gr - 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='template_files/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='template_files/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='template_files/bootstrap.min.js') }}"></script>

</body>

</html>
