{% extends "template-jinja.html" %}

{% block title %}
    {% if ba8mida=='a' %}
        Περιοχές μετάθεσης Πρωτοβάθμιας Εκπαίδευσης
    {% else %}
        Περιοχές μετάθεσης Δευτεροβάθμιας Εκπαίδευσης
    {% endif %}
{% endblock %}

{% block link_a %}{% if ba8mida=='a' %}active{% endif %}{% endblock %}

{% block link_b %}{% if ba8mida=='b' %}active{% endif %}{% endblock %}

{% block container %}
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4"><small>
          {% if ba8mida=='a' %}
              Περιοχές μετάθεσης Πρωτοβάθμιας Εκπαίδευσης
          {% else %}
              Περιοχές μετάθεσης Δευτεροβάθμιας Εκπαίδευσης
          {% endif %}
        </small></h1>

        <div class="row">
          {% if provinces %}
              {% for province in provinces %}
              <div class="col-lg-4 portfolio-item">
                  <div class="card h-100">
                      {# <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a> #}
                      <div class="card-block">
                          <h4 class="card-title">Διεύθυνση
                            {% if ba8mida=='a' %}
                                Π.Ε.
                            {% else %}
                                Δ.Ε. 
                            {% endif %}
                            {{ province[1] }}</h4>
                          <p class="card-text">
                              Περιοχές μετάθεσης: <br />
                              {% for area in areas %}
                                {% if area[2]==province[0] %}
                                    <a href="/baseis/{{ ba8mida }}/ola/ola/{{ area[0] }}/1">{{ area[1] }}</a><br />
                                {% endif %}
                              {% endfor %}
                          </p>
                      </div>
                  </div>
              </div>
              {% endfor %}
          {% endif %}
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
{% endblock %}
