{% extends "template-jinja.html" %}

{% block title %}metathesi.gr - Ανοιχτός κώδικας{% endblock %}

{% block link_opensource %}active{% endblock %}

{% block container %}
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Ανοιχτός Κώδικας<small></small></h1>

        <div class="row">
          <div class="col-lg-12 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text">
                        Το <a href="http://metathesi.gr">metathesi.gr</a> αποτελεί έργο <a href="https://mathe.ellak.gr/?page_id=132" target="_blank">Ελεύθερου Λογισμικού / Λογισμικού Ανοιχτού Κώδικα</a>.
                          Έχει γραφτεί στο <a href="http://flask.pocoo.org/" target="_blank">Flask</a> Python micro-framework. Δεν είναι τέλειο προγραμματιστικά αλλά βελτιώνεται συνεχώς!
                          <br />Πριν "ανέβει" και εκτεθεί στο internet, αναπτύχθηκε και δοκιμάστηκε σε ένα <a href="http://en.wikipedia.org/wiki/LAMP_(software_bundle)" target="_blank">LAMP server</a> που έτρεχε
                          <a href="http://debian.com/" target="_blank">Debian Linux</a>. Ο text editor που χρησιμοποιήθηκε είναι ο <a href="https://code.visualstudio.com/"  target="_blank">Visual Studio Code</a> της Microsoft.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text">Ο πιο πρόσφατος κώδικας είναι διαθέσιμος στη <a href="http://github.com/ale3andro/metathesi/tree/v2" target="_blank">σελίδα του project</a> στο github.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text">Η βάση δεδομένων που βρίσκεται πίσω από την εφαρμογή είναι διαθέσιμη <a href="http://github.com/ale3andro/metathesidb" target="_blank">εδώ</a>.</p>
                  </div>
              </div>
          </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
