{% extends "template-jinja.html" %}

{% block title %}
    metathesi.gr - Σχετικά με το metathesi
{% endblock %}
{% block link_diafora %}active{% endblock %}
{% block container %}
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Σχετικά με το metathesi.gr<small></small></h1>
        <div class="row">
          <div class="col-lg-12 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <p class="card-text">
                        Καλώς ορίσατε στο metathesi.gr...<br />
                        Το metathesi.gr φιλοδοξεί να γίνει - όταν με το καλό ολοκληρωθεί πλήρως - ένα site που θα καλύπτει όλα τα θέματα που αφορούν τις μεταθέσεις των
                        Εκπαιδευτικών Πρωτοβάθμιας και Δευτεροβάθμιας Εκπαίδευσης. Σε πρώτη φάση θα δίνει την δυνατότητα πλοήγησης σε όλες τις περιοχές της Ελλάδας - και
                        στις αντίστοιχες Διευθύνσεις Εκπαίδευσης τους - όπου θα παρουσίαζει όλα τα σχολεία αλλά και τις βάσεις μετάθεσης ανά ειδικότητα...<br />
                        Σκοπός είναι να ενημερώνεται και να εμπλουτίζεται συνεχώς με νέα στοιχεία και να αξιοποιεί τα ήδη υπάρχοντα (προβολή γραφημάτων με διακυμάνσεις
                        βάσεων κλπ). Αυτή τη στιγμή είναι πλήρως λειτουργικό αλλά γίνονται συνεχώς βελτιώσεις/προσθήκες. Αν έχετε κάποια ιδέα που θα θέλατε να δείτε να
                        υλοποιείται στο metathesi.gr, ή έχετε εντοπίσει κάποιο λάθος δεν έχετε παρά να επικοινωνήσετε μαζί μου. <br />
                        Για να καταγράφω την πορεία αυτού του εγχειρήματος έχω δημιουργήσει <a href="http://www.ale3andro.gr/blog/" target="_blank">αυτό το ιστολόγιο</a>.<br /><br />
                        Καλώς ορίσατε λοιπόν!
                        <br />
                        Αλέξανδρος Μοσκοφίδης<br />
                        Ηλεκτρολόγος Μηχανικός και Μηχανικός Η/Υ<br />
                        MSc Πολιτισμική Πληροφορική<br />
                        ΠΕ19
                      </p>
                  </div>
              </div>
          </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
{% endblock %}   