<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}metathesi.gr - Καλώς ορίσατε{% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='template_files/2-col-portfolio.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='template_files/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>
    <a href="https://github.com/ale3andro/metathesi" target="_blank"><img style="position: absolute; top: 20; right: 0; border: 0;" src="{{ url_for('static', filename='images/forkme_right_red.png') }}" alt="Fork me on GitHub"></a>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">metathesi.gr</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% block link_homepage %}{% endblock %}" href="/">Αρχική</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block link_a %}{% endblock %}" href="/protobathmia">Πρωτοβάθμια</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block link_b %}{% endblock %}" href="/deuterobathmia">Δευτεροβάθμια</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block link_diafora %}{% endblock %}" href="/diafora">Διάφορα</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block link_opensource %}{% endblock %}" href="/anoixtos_kodikas">Ανοιχτός κώδικας</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://metathesi.gr/blog" target="_blank">Ιστολόγιο</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    {% block container %}
    <div class="container">
        <!-- Page Heading -->
        <h1 class="my-4">metathesi.gr <small>αυστηρά για εκπαιδευτικούς</small></h1>
        <div class="row">
          <div class="col-lg-12 portfolio-item jumbotron">
            <h1>Καλώς ορίσατε!</h1>
            <p><h5>Καλώς ορίσατε στο metathesi.gr, ένα site αφιερωμένο στο μεγαλύτερο - μετά τον διορισμό - βάσανο των εκπαιδευτικών: τις μεταθέσεις...</h5>
            </p>
            <p>
              <a class="btn btn-primary btn-lg" href="/sxetika" role="button">Σχετικά με το metathesi.gr</a>
              <a class="btn btn-primary btn-lg" href="/disclaimer" role="button">Disclaimer</a>
            </p>
          </div>
        </div>

        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Περίοδος: {{ epoch }}</li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/periodoi">Τι είναι αυτό;</a></li>
                </ol>
              </nav>
        </div>

        <div class="row">
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/protoba8mia.jpg') }}" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Πρωτοβάθμια Εκπαίδευση</h4>
                        <p class="card-text">
                            {% if a_eidikothtes %}
                                <form action="/search_results" method="post">
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Ειδικότητα</span> {{ a_eidikothtes|safe }}<br />
                              </div><br />
                            {% endif %}
                            {% if a_years %}
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Έτος</span> {{ a_years|safe }}<br />
                                <span class="input-group-addon"><a href="/periodoi">Άλλες χρονιές;</a></span>
                              </div><br />
                            {% endif %}
                            {% if a_areas %}
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Περιοχές Μετάθεσης</span> {{ a_areas|safe }}<br />
                              </div><br />
                                <button type="submit" id="search_a" class="btn btn-primary btn-lg">Αναζήτηση</button>
                                </form>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/deuteroba8mia.jpg') }}" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Δευτεροβάθμια Εκπαίδευση</h4>
                        <p class="card-text">
                            {% if b_eidikothtes %}
                                <form action="/search_results" method="post">
                                  <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1">Ειδικότητα</span> {{ b_eidikothtes|safe }}<br />
                                </div><br />
                                {% endif %}
                            {% if b_years %}
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Έτος</span> {{ b_years|safe }}<br />
                            <span class="input-group-addon"><a href="/periodoi">Άλλες χρονιές;</a></span>
                            </div><br />
                            {% endif %}
                            {% if b_areas %}
                              <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">Περιοχές Μετάθεσης</span> {{ b_areas|safe }}<br />
                              </div><br />
                                <button type="submit" id="search_b" class="btn btn-primary btn-lg">Αναζήτηση</button>
                                </form>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 portfolio-item">
              <div class="card h-100">
                  <div class="card-block">
                      <h4 class="card-title">Σύνθετες αναζητήσεις</h4>
                      <p class="card-text">
                        <ul class="list-group">
                          <li class="list-group-item"><a href="/2013-2018">Περιοχές μετάθεσης και ειδικότητες από 2013 μέχρι και 2018</a></li>
                          <li class="list-group-item"><a href="/-2012">Παλιές περιοχές μετάθεσης (μέχρι και το 2012)</a></li>
                          <li class="list-group-item">Είμαι <code>ειδικότητα</code> και έχω <code>αριθμός</code> μόρια. Τι να δηλώσω για να πάρω μετάθεση;<span class="badge badge-pill badge-warning">Διαθέσιμο σύντομα</span></li>
                          <li class="list-group-item">Αναζήτηση σε ευρύτερη περιοχή (Περιφερειακή Διεύθυνση)<span class="badge badge-pill badge-warning">Διαθέσιμο σύντομα</span></li>
                        </ul>
                      </p>
                  </div>
              </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 portfolio-item jumbotron">
                <h1>Ενημερώσεις</h1>
                <p>
                    <a href="https://twitter.com/intent/tweet?button_hashtag=metathesigr&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #metathesigr</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
    

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none" id="betaButton">
        beta
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ειδοποίηση beta έκδοσης</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Το metathesi.gr είναι σε beta έκδοση. <br />Η λειτουργικότητα του είναι εξαιρετικά περιορισμένη.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλείσιμο</button>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    
    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">No rights reserved - <a href="https://ale3andro.gr" target="_blank">ale3andro.gr</a> 04/2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='template_files/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='template_files/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='template_files/bootstrap.min.js') }}"></script>
    {% block after_footer %}
    <script type="text/JavaScript">
        $( document ).ready(function() {
            $('#betaButton_').click();
        });
    </script>
    {% endblock %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-3564859-7");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>

</body>

</html>
